# Dev environment docker-compose file
# Run with: docker compose -f ./ciad-infra/docker-compose.yaml up
services:
  ciad-frontend:
    build:
      context: ../ciad-frontend
      dockerfile: ./dockerfile.dev
    volumes:
      - '../ciad-frontend:/app'
    environment:
      - PORT=4321
      - HOST=0.0.0.0
    ports:
      - '4321:4321'
    depends_on:
      - ciad-backend
  #######################################
  ciad-backend:
    build:
      context: ../ciad-backend # Correct the path relative to ciad-infra
      dockerfile: ./dockerfile.dev
    volumes:
      - '../ciad-backend:/app'
    environment:
      - PORT=1234
    ports:
      - '1234:1234'
