services:
  ciad-frontend:
    build:
      context: ./ciad-frontend
      dockerfile: ./dockerfile.dev
    volumes:
      - './ciad-frontend:/app'
    environment:
      - PORT=4321
      - HOST=0.0.0.0
      - CLIENT_API_URL=http://localhost:1234
      - SERVER_API_URL=http://ciad-backend:1234
    ports:
      - 4321:4321
    depends_on:
      - ciad-backend
    networks:
      - ciad-network
  #######################################
  ciad-backend:
    build:
      context: ./ciad-backend # Correct the path relative to ciad-infra
      dockerfile: ./dockerfile.dev
    volumes:
      - ./ciad-backend:/app
    env_file:
      - ./.env.backend
    ports:
      - 1234:1234
    depends_on:
      - ciad-postgres
      - ciad-minio
    networks:
      - ciad-network
  #######################################
  ciad-postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ciad
    ports:
      - 5432:5432
    volumes:
      - ./data/db:/var/lib/postgresql
    restart: always
    networks:
      - ciad-network
  ##########################################
  pgadmin:
    image: dpage/pgadmin4
    user: '${UID}:${GID}'
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_MASTER_PASSWORD_REQUIRED: 'False'
    volumes:
      - ./data/pgadmin:/var/lib/pgadmin
    ports:
      - '${PGADMIN_PORT:-5050}:80'
    depends_on:
      - ciad-postgres
    networks:
      - ciad-network
  ##########################################
  ciad-minio:
    container_name: ciad-minio
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./data/minio:/data
    ports:
      - '9002:9000' # API port
      - '9001:9001' # Console port
    command: server /data --console-address ":9001"
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9001/minio/health/live']
      interval: 30s
      timeout: 20s
      retries: 3
    networks:
      - ciad-network
  ##########################################
  ciad-minio-init:
    container_name: ciad-minio-init
    image: minio/mc
    depends_on:
      ciad-minio:
        condition: service_healthy
    volumes:
      - ./init-minio.sh:/init-minio.sh
    entrypoint: ['/bin/sh', '/init-minio.sh']
    restart: on-failure

networks:
  ciad-network:
    driver: bridge
