services:
  ciad-frontend:
    build:
      context: ./ciad-frontend
      dockerfile: ./dockerfile.dev
    volumes:
      - './ciad-frontend:/app'
    environment:
      - PORT=4321
      - HOST=0.0.0.0
      - API_URL=http://localhost:1234
    ports:
      - 4321:4321
    depends_on:
      - ciad-backend
  #######################################
  ciad-backend:
    build:
      context: ./ciad-backend # Correct the path relative to ciad-infra
      dockerfile: ./dockerfile.dev
    volumes:
      - ./ciad-backend:/app
    environment:
      DATABASE_URI: postgresql://postgres:postgres@ciad-postgres:5432/ciad
      PORT: 1234
      ENVIRONMENT: development
    ports:
      - 1234:1234
    depends_on:
      - ciad-postgres
  #######################################
  ciad-postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ciad
    ports:
      - 5433:5432
    volumes:
      - ./data/db:/var/lib/postgresql/data
    restart: always
  ##########################################
  pgadmin:
    image: dpage/pgadmin4
    user: '${UID}:${GID}'
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_MASTER_PASSWORD_REQUIRED: 'False'
    volumes:
      - ./data/pgadmin:/var/lib/pgadmin
    ports:
      - '${PGADMIN_PORT:-5050}:80'
    depends_on:
      - ciad-postgres

networks:
  ciad-network:
    driver: bridge
